@font-face {
    font-family: RobotoMain; 
    src: url(fonts/Roboto Light.ttf); 
   }
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
#wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	filter:blur(0px);
	background-size: cover;
}
.content{
	max-width:1200px;
	min-height:100%;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 40% 60%;
	border: 2px solid green;
	padding: 5% 0;
}
.header{
	border: 2px solid pink;
	background: white;
	display: grid;
	grid-template-columns: 25% 65%;
}
@keyframes shadowgrowth {
  from {
    box-shadow: 8px 5px 25px 1px rgba(252, 93, 110, .5);
  }
  25% {
    box-shadow: 8px 5px 40px 1px rgba(201, 93, 184, .5);
  }
  50% {
    box-shadow: 8px 5px 25px 1px rgba(74, 164, 247, .5);
  }
  75% {
    box-shadow: 8px 5px 40px 1px rgba(136, 100, 255, .5);
  }
  to {
    box-shadow: 8px 5px 25px 1px rgba(252, 93, 110, .5);
  }
}
.songimage {
	width:80%;
	height:80%;
	border-radius: 50%;
	background: url(../img/tune.png) no-repeat; 
	/*background-size: auto 2in;*/
	background-position: center;
	/*box-shadow: 8px 5px 30px 1px rgba(255, 0, 0, .2);*/
	align-self: center; 
	background-size: 100%;
	justify-self: center;
	animation: shadowgrowth 3s infinite linear alternate;
}

.main-content{
	background: white;
	display: grid;
	grid-template-columns: 25% 65%;
}